* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(235, 235, 235);
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}

/*Formatação header*/
header {
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 13rem;
  justify-content: space-between;
}

h1 {
  color: #ffff;
}

.subp {
  color: #ffff;
}

.logo {
  color: #ffff;
}

header input {
  margin: 30px;
}
/*RESPONSIVIDADE*/

header input {
  background-image: url('search-alt-1-svgrepo-com.svg');
  background-repeat: no-repeat;
  height: 30px;
  border-radius: 10px;
  background-position: 145px 6px;
  border: none;
  margin: 12px;
}

@media (max-width: 1024px) {
  .backbutton {
    position: fixed;
    bottom: 20px; /* Distância do fundo da página */
    left: 75%;
    width: 15%;
    background-color: #444444;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5rem;
  }

  header {
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    justify-content: space-between;
  }
}

/*Formatação corpo noticia*/

.filterType {
  padding: 8px;
}

.typeItem {
  width: 30%;
  padding: 7px 7px;
  border-radius: 5px;
}

.grid-item {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 100px;
  margin: 50px;
}

.brewery-item {
  padding: 20px;
  background-color: #ddd;
  cursor: pointer;
}

.hidden {
  display: none;
}

.backbutton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  padding: 10px;
  margin-bottom: 16%;
  background-color: #444444;
  color: #ffff;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.pageNumberButton {
  padding: 8px;
  margin: 5px;
  background-color: #fff;
}

.pageNumberButton.active {
  background-color: #444444;
  color: #fff;
}
